<center>
<% if user_signed_in? %>
<h2> You are logged in #{}.. So you can access the products  </h2>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= button_to "Edit profile",edit_user_registration_path, method: :get %>
  <%= link_to "products", products_path %>
<% else %>
<h2> Please Sign up or Sign in for accessing the product </h2>
  <%= button_to "Signup", new_user_registration_path, method: :get %><br/>
  <%= button_to "Sign-in", user_session_path,method: :get %>
<% end %>
</center>
